// top area

.area.top {
  top: 0;
  left: 0;
  right: 0;
  height: 39px;
  background: @light;
  border-top: 1px solid @dark;
  border-left: 1px solid @dark;
  border-right: 1px solid @dark;
}

 .ToolComponent {

  height: 40px;
  line-height: 40px;

  &>i {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: @large;
    text-align: center;
    margin-right: 5px;
  }

  &>span {
    float: left;
    height: 20px;
    margin: 9px 10px 0 0;
    line-height: 20px;
  }

  button {
    float: left;
    margin: 8px 2px 0 0;
  }

  input[type=range] {
    margin: 15px 10px 0 10px;
    float: left;
  }

  input[type=number] {
    height: 20px;
    width: 3.1em;
    margin: 8px 5px 0 0;
    float: left;
  }

  ul {
    float: left;
    margin: 3px 0 0 5px;
  }

  li {
    line-height: 16px;
  }

  .colorswatch {
    float: left;
    margin-top: 7px;
  }

  .spacer {
    float: left;
    width: 1.5em;
  }
}

#EyedropperSwatch {
  margin-top: 6px;
  margin-left: 4px;
}