// top area components
 .ToolComponent {

  height: 40px;
  line-height: 40px;
  font-size: @small;

  &>i {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: @large;
    text-align: center;
  }

  &>span {
    float: left;
    height: 20px;
    margin: 9px 5px;
    line-height: 20px;
  }

  button {
    float: left;
    margin: 8px 2px 0 0;
  }

  input[type=range] {
    margin: 15px 5px 0 5px;
    float: left;
  }

  input[type=number] {
    height: 20px;
    width: 30px;
    margin: 8px 5px 0 0;
    float: left;
  }

  ul {
    float: left;
    margin: 3px 0 0 5px;
  }

  li {
    line-height: 16px;
  }

  .colorswatch {
    float: left;
    margin-top: 7px;
  }

  .hint {
    margin-left: 2em;
  }
}

#EyedropperSwatch {
  margin-top: 6px;
  margin-left: 4px;
}