// left area

.area.left {
  top: 40px;
  left: 0;
  bottom: 0;
  width: 43px;
  //overflow-y: auto;
  border: 1px solid @dark;
  background: @dark;
}

.area.left:after {
  background: none;
  width: 0;
  border-left: 1px solid #3a3a3a;
  border-right: 1px solid #2d2d2d;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#ToolBox {
  float: left;
  width: 40px;
  background: @light;
  height: 100%;

  &>div {
    border-top: 1px solid #6a6a6a;
  }
}

.ToolBoxTool {
  width: 36px;
  height: 36px;
  float: left;
  margin: 2px 2px 0 2px;
  font-size: @large;
  color: @font-color;
}

#RectangularSelectionTool > i,
#PaintBucketTool > i {
  position: relative;
  left: -.2em;
}