// center area components
#StageBox {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;

  .Layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  #Layer-Tools {
    background: transparent;
    z-index: 10000000;
    //cursor: none;
  }
}
