@import "../common/less/common.less";

body {
  font-size: 1.3rem;
}

.menu {
  height: 40px;

  .version {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: right;
  }
}

.window {
  top: 40px;
}

.statusbar {
  height: 40px;
}

.area.statusbar .bar {
  height: 40px;
  line-height: 40px;
}

.screen.start .splash .inner {
  width: 600px;
  height: 400px;
  padding: 30px;
}

.screen.start .splash .logo {
  height: 240px;
  font-size: 4rem;
}

.screen.paint {
  #ToolBox {
    width: 60px;
  }

  .ToolBoxTool {
    width: 56px;
    height: 56px;
    font-size: 1.5rem;
  }

  .area.left {
    width: 63px;
  }

  .area.center {
    left: 65px;
  }

  .statusbar {
    left: 63px;
  }

}

.tab {
  height: 39px;
  line-height: 38px;
}

#Modal .dialog {
  width: 600px;
}

button, .button {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}
