@import "../common/less/common.less";

body {
  font-size: 1.3rem;
}

.menu {
  height: 40px;

  .version {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: right;
  }
}

.window {
  top: 40px;
}

.statusbar {
  height: 40px;
}

.area.statusbar .bar {
  height: 40px;
  line-height: 40px;
}

.screen.start .splash .inner {
  width: 600px;
  height: 400px;
  padding: 30px;
}

.screen.start .splash .logo {
  height: 240px;
  font-size: 4rem;
}

.tab {
  height: 39px;
  line-height: 38px;
}
