<?xml version="1.0" encoding="UTF-8" ?>
  <widget xmlns   = "http://www.w3.org/ns/widgets"
      xmlns:gap   = "http://phonegap.com/ns/1.0"
      id          = "me.hpcodecraft.@@shortname"
      version     = "@@version" >

  <name>@@name</name>

  <description>
    @@description
  </description>

  <author href="http://hpcodecraft.me" email="mail@hpcodecraft.me">
    @@author
  </author>

  <!-- weinre access -->
  <access origin="*" />

  <feature name="http://api.phonegap.com/1.0/file" />

  <!--<preference name="orientation" value="landscape" />-->
  <preference name="fullscreen" value="true" />
  <!--<preference name="permissions" value="none" />-->

  <gap:plugin name="cordova-plugin-file" />
  <gap:plugin name="cordova-plugin-device" />
</widget>
