//@import "../fonts/flaticon.css";

// import common styles
@import "imports/variables.less";
@import "imports/mixins.less";
@import "imports/common.less";

@import "imports/screen-paint-top.less";
@import "imports/screen-paint-left.less";
@import "imports/screen-paint-center.less";
@import "imports/screen-paint-right.less";
@import "imports/screen-paint-bottom.less";
@import "imports/screen-paint-settings.less";

@import "imports/screen-animate-top.less";
@import "imports/screen-animate-left.less";
@import "imports/screen-animate-center.less";
@import "imports/screen-animate-right.less";
@import "imports/screen-animate-bottom.less";

@import "imports/screen-debug-top.less";
@import "imports/screen-debug-left.less";
@import "imports/screen-debug-center.less";
@import "imports/screen-debug-right.less";
@import "imports/screen-debug-bottom.less";

// browser-specific styles
.menu {
  height: 20px;
  width: 100%;
  background-color: #3c3c3c;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  border-left: 1px solid @dark;
  border-bottom: 1px solid @dark;

  .tab {
    position: relative;
    display: inline-block;
    height: 19px;
    line-height: 18px;
    border-top: 1px solid @dark;
    border-right: 1px solid @dark;
    padding-left: 1em;
    background-color: #3c3c3c;
    color: #a6a6a6;
    text-align: left;
    width: 15em;
    cursor: pointer;
    border-bottom: 1px solid @dark;

    &:before {
      position: absolute;
      top: 0;
      height: 0;
      left: 1px;
      right: 1px;
      border-bottom: 1px solid #4a4a4a;
      content: "";
    }
  }

  .tab.active {
    background-color: @light;
    color: @font-color;
    cursor: default;
    border-bottom: 1px solid transparent;

    &:before {
      border-bottom: 1px solid #6a6a6a;
    }

    &:after {
      position: absolute;
      bottom: 0;
      height: 0;
      left: 1em;
      right: 1em;
      border-top: 1px solid #6a6a6a;
      content: "";
    }
  }
}

.window {
  left: 0;
  right: 0;
  bottom: 0;
  top: 20px;
  width: auto;
  height: auto;
}