    /*
    Flaticon icon font: Flaticon
    Creation date: 04/08/2016 18:03
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-3x3:before { content: "\f100"; }
.flaticon-arrow:before { content: "\f101"; }
.flaticon-arrow85:before { content: "\f102"; }
.flaticon-back-arrow:before { content: "\f103"; }
.flaticon-clear3:before { content: "\f104"; }
.flaticon-color1:before { content: "\f105"; }
.flaticon-dark26:before { content: "\f106"; }
.flaticon-done:before { content: "\f107"; }
.flaticon-double31:before { content: "\f108"; }
.flaticon-eye46:before { content: "\f109"; }
.flaticon-eye48:before { content: "\f10a"; }
.flaticon-eyedropper2:before { content: "\f10b"; }
.flaticon-hand118:before { content: "\f10c"; }
.flaticon-layer13:before { content: "\f10d"; }
.flaticon-list67:before { content: "\f10e"; }
.flaticon-little16:before { content: "\f10f"; }
.flaticon-little9:before { content: "\f110"; }
.flaticon-magnifier5:before { content: "\f111"; }
.flaticon-man-silhouette1:before { content: "\f112"; }
.flaticon-man13:before { content: "\f113"; }
.flaticon-mini7:before { content: "\f114"; }
.flaticon-minus18:before { content: "\f115"; }
.flaticon-move11:before { content: "\f116"; }
.flaticon-next:before { content: "\f117"; }
.flaticon-paint2:before { content: "\f118"; }
.flaticon-play87:before { content: "\f119"; }
.flaticon-plus25:before { content: "\f11a"; }
.flaticon-previous2:before { content: "\f11b"; }
.flaticon-right3:before { content: "\f11c"; }
.flaticon-selection7:before { content: "\f11d"; }
.flaticon-settings21:before { content: "\f11e"; }
.flaticon-small23:before { content: "\f11f"; }
.flaticon-small38:before { content: "\f120"; }
.flaticon-stamp2:before { content: "\f121"; }
.flaticon-sun4:before { content: "\f122"; }
.flaticon-vegetable38:before { content: "\f123"; }
    
    $font-Flaticon-3x3: "\f100";
    $font-Flaticon-arrow: "\f101";
    $font-Flaticon-arrow85: "\f102";
    $font-Flaticon-back-arrow: "\f103";
    $font-Flaticon-clear3: "\f104";
    $font-Flaticon-color1: "\f105";
    $font-Flaticon-dark26: "\f106";
    $font-Flaticon-done: "\f107";
    $font-Flaticon-double31: "\f108";
    $font-Flaticon-eye46: "\f109";
    $font-Flaticon-eye48: "\f10a";
    $font-Flaticon-eyedropper2: "\f10b";
    $font-Flaticon-hand118: "\f10c";
    $font-Flaticon-layer13: "\f10d";
    $font-Flaticon-list67: "\f10e";
    $font-Flaticon-little16: "\f10f";
    $font-Flaticon-little9: "\f110";
    $font-Flaticon-magnifier5: "\f111";
    $font-Flaticon-man-silhouette1: "\f112";
    $font-Flaticon-man13: "\f113";
    $font-Flaticon-mini7: "\f114";
    $font-Flaticon-minus18: "\f115";
    $font-Flaticon-move11: "\f116";
    $font-Flaticon-next: "\f117";
    $font-Flaticon-paint2: "\f118";
    $font-Flaticon-play87: "\f119";
    $font-Flaticon-plus25: "\f11a";
    $font-Flaticon-previous2: "\f11b";
    $font-Flaticon-right3: "\f11c";
    $font-Flaticon-selection7: "\f11d";
    $font-Flaticon-settings21: "\f11e";
    $font-Flaticon-small23: "\f11f";
    $font-Flaticon-small38: "\f120";
    $font-Flaticon-stamp2: "\f121";
    $font-Flaticon-sun4: "\f122";
    $font-Flaticon-vegetable38: "\f123";