@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-done:before {
	content: "\e000";
}
.flaticon-double31:before {
	content: "\e001";
}
.flaticon-eye46:before {
	content: "\e002";
}
.flaticon-eye48:before {
	content: "\e003";
}
.flaticon-eyedropper2:before {
	content: "\e004";
}
.flaticon-film50:before {
	content: "\e005";
}
.flaticon-move11:before {
	content: "\e006";
}
.flaticon-right3:before {
	content: "\e007";
}
.flaticon-hand118:before {
	content: "\e008";
}
.flaticon-layer13:before {
	content: "\e009";
}
.flaticon-arrow85:before {
	content: "\e00a";
}
.flaticon-list67:before {
	content: "\e00b";
}
.flaticon-magnifier5:before {
	content: "\e00c";
}
.flaticon-man-silhouette1:before {
	content: "\e00d";
}
.flaticon-man13:before {
	content: "\e00e";
}
.flaticon-minus18:before {
	content: "\e00f";
}
.flaticon-mini7:before {
	content: "\e010";
}
.flaticon-small38:before {
	content: "\e011";
}
.flaticon-next:before {
	content: "\e012";
}
.flaticon-paint2:before {
	content: "\e013";
}
.flaticon-color1:before {
	content: "\e014";
}
.flaticon-small23:before {
	content: "\e015";
}
.flaticon-play87:before {
	content: "\e016";
}
.flaticon-plus25:before {
	content: "\e017";
}
.flaticon-previous2:before {
	content: "\e018";
}
.flaticon-selection7:before {
	content: "\e019";
}
.flaticon-settings21:before {
	content: "\e01a";
}
.flaticon-3x3:before {
	content: "\e01b";
}
.flaticon-stamp2:before {
	content: "\e01c";
}
.flaticon-clear3:before {
	content: "\e01d";
}
.flaticon-clear325:before {
	content: "\e01e";
}
.flaticon-sun4:before {
	content: "\e01f";
}
.flaticon-little16:before {
	content: "\e020";
}
.flaticon-little9:before {
	content: "\e021";
}
.flaticon-vegetable38:before {
	content: "\e022";
}
