:root {
  --page-width: 1020px;
}

body {
  align-items: center;
  color: #fcc71b;
  display: flex;
  flex-direction: column;
  font-family: "coolvilleregular", monospace;
  margin: 0 auto;
}

header {
  margin-top: 50px;
  text-align: center;
}

footer {
  margin-bottom: 50px;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

figure {
  margin: 0;
}

a,
a:hover,
a:active,
a:visited {
  color: #fcc71b;
}

h1 {
  font-size: 2.5em;
  margin-block-end: 1em;
  margin-block-start: 1em;
}

h2 {
  color: #fca61b;
}

section {
  font-size: 1.5em;
  margin-bottom: 2em;
  width: 920px;
}

section ul {
  line-height: 120%;
  list-style-type: none;
  padding-left: 0.5em;
}

section li {
  margin-bottom: 0.3em;
}

section li.q {
  color: #fca61b;
  font-weight: bold;
}

section.features li:before {
  content: "+";
  margin-right: 0.9em;
}

section.faq li strong {
  float: left;
}

section.faq li span {
  float: left;
  margin-bottom: 2em;
  margin-left: 0.5em;
  width: calc(100% - 2em);
}

.features {
  margin-top: 2em;
}

.quote {
  font-family: "zelda_dx_tt_brkregular";
  letter-spacing: -1ch;
}

.ribbon-top-right {
  top: 16px;
  right: 20px;
  z-index: 1;
}

.preview {
  background-repeat: no-repeat;
  background-position: -20px 0;
  height: 780px;
  margin: 0 auto;
  position: relative;
  width: var(--page-width);
  background-image: url(web-frame.png);
}

.web-app-wrapper {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 692px;
  left: 36px;
  overflow: hidden;
  position: relative;
  top: 70px;
  width: 954px;
}

.web-app-standalone {
  color: #fca61b !important;
  font-size: 3em;
  text-align: center;
  padding: 16px 24px 10px 24px;
  border: 5px solid #fca61b;
  text-decoration: none;
  box-shadow: 5px 5px;
  position: relative;
  left: 5px;
}

.web-app-standalone:hover {
  background: #fde79f;
}

.web-app-standalone:active {
  box-shadow: none;
  top: 5px;
  left: 10px;
}

.ribbon-small-text {
  font-size: 20px !important;
  padding: 15px 0px 13px 12px !important;
}

.app-version {
  display: flex;
  justify-content: end;
  position: relative;
  margin-right: 30px;
}

.app-links {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.content-spacer {
  height: 2em;
}
