// mixins
.debug(@color: red) {
  box-sizing: border-box;
  border: 1px solid @color;
}

.linear-gradient(@startColor, @endColor) {
  background: @startColor;
  background: -moz-linear-gradient(top,  @startColor 0%, @endColor 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @startColor), color-stop(100%, @endColor));
  background: -webkit-linear-gradient(top,  @startColor 0%, @endColor 100%);
  background: -o-linear-gradient(top,  @startColor 0%, @endColor 100%);
  background: -ms-linear-gradient(top,  @startColor 0%, @endColor 100%);
  background: linear-gradient(to bottom,  @startColor 0%, @endColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor',GradientType=0);
}

.letterpress {
  text-shadow: 0 -1px 1px @dark, 0 1px 1px #6a6a6a;
}

.inset-shadow {
  -webkit-box-shadow:inset 0 1px 1px 0 rgba(0, 0, 0, .75);
  box-shadow:inset 0 1px 1px 0 rgba(0, 0, 0, .75);
}

.gradient {
  .linear-gradient(#3f3f3f, #373737);
}

.gradient-light {
  .linear-gradient(#747474, #646464);
}

.checkerboard {
  @size: 16px;
  @color1: #fff;
  @color2: #ccc;
  background-color: @color1;
  background-image: -webkit-linear-gradient(bottom left, @color2 25%, transparent 25%, transparent 75%, @color2 75%, @color2),
                    -webkit-linear-gradient(bottom left, @color2 25%, transparent 25%, transparent 75%, @color2 75%, @color2);
  background-image: -o-linear-gradient(bottom left, @color2 25%, transparent 25%, transparent 75%, @color2 75%, @color2),
                    -o-linear-gradient(bottom left, @color2 25%, transparent 25%, transparent 75%, @color2 75%, @color2);
  background-image: linear-gradient(to top right, @color2 25%, transparent 25%, transparent 75%, @color2 75%, @color2),
                    linear-gradient(to top right, @color2 25%, transparent 25%, transparent 75%, @color2 75%, @color2);
  background-size: @size @size;
  background-position: 0 0, @size/2 @size/2;
}

.stripes {
  @size: 70px;
  @color1: #fff;
  @color2: #ccc;
  background-color: @color1;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent @size/2, @color2 @size/2, @color2 @size);
}

.stripes-preview {
  @size: 10px;
  @color1: #fff;
  @color2: #ccc;
  background-color: @color1;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent @size/2, @color2 @size/2, @color2 @size);
}