// center area
.screen.animate {

  .area.center {
    left: 0;
    right: 0;
    bottom: 27px;
    height: 172px;
    background: @dark;
    z-index: 0;
    overflow: auto;
  }

  #AnimationTimelineBox {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .scroller {
      position: absolute;
      top: 32px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      overflow-x: auto;

      .inner {
        position: relative;
        width: 100%;
      }
    }

    .dropzone {
      height: 120px;
      text-align: center;
      width: 15px;
      display: inline-block;

      &.full {
        width: 100%;
        display: table;

        &>div {
          display: table-cell;
          vertical-align: middle;
        }
      }

      &:last-of-type {
        //.debug(red);
        min-width: 120px;
      }
    }

    .frame {
      width: 120px;
      height: 120px;
      border: 1px solid @medium;
      cursor: grab;
      position: relative;
      z-index: 1;
      margin-top: 5px;
      display: inline-block;

      &.selected {
        z-index: 2;
        left: -1px;
        margin-bottom: -1px;
        margin-right: -1px;
        border: 1px solid lighten(@selected, 10%) !important;
        box-shadow: 0 0 1px 0 lighten(@selected, 10%);
      }

      label {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 5px;
      }
    }
  }
}