// left area
.screen.animate {

  .area.left {
    top: 0;
    left: 0;
    bottom: 200px;
    width: 61.8%;
    background: @light;
    border-top: 1px solid @dark;
    border-left: 1px solid @dark;
  }

  #AnimationFrameBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .inner {

    }

    .frame {
      width: 100px;
      height: 100px;
      float: left;
      cursor: move;
      border: 1px solid @medium;
      margin: 5px;
    }
  }
}