// top area
.screen.animate {

  .area.top {
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: @light;
    border-top: 1px solid @dark;
    border-left: 1px solid @dark;
    border-right: 1px solid @dark;
  }

  #AnimationTimelineBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 203px;
  }

  #AnimationPreviewBox {
    position: absolute;
    top: 0;
    right: 0;
    width: 203px;
  }
}