// mixins
.debug(@color: red) {
  box-sizing: border-box;
  border: 1px solid @color;
}

.letterpress {
  text-shadow: 0 -1px 1px @dark, 0 1px 1px #6a6a6a;
}

.inset-shadow {
  -webkit-box-shadow:inset 0 1px 1px 0 rgba(0, 0, 0, .75);
  box-shadow:inset 0 1px 1px 0 rgba(0, 0, 0, .75);
}

.gradient {
  background: #3f3f3f;
  background: -moz-linear-gradient(top,  #3f3f3f 0%, #373737 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#373737));
  background: -webkit-linear-gradient(top,  #3f3f3f 0%,#373737 100%);
  background: -o-linear-gradient(top,  #3f3f3f 0%,#373737 100%);
  background: -ms-linear-gradient(top,  #3f3f3f 0%,#373737 100%);
  background: linear-gradient(to bottom,  #3f3f3f 0%,#373737 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#373737',GradientType=0 );
}

.gradient-light {
  background: #747474;
  background: -moz-linear-gradient(top,  #747474 0%, #646464 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747474), color-stop(100%,#646464));
  background: -webkit-linear-gradient(top,  #747474 0%,#646464 100%);
  background: -o-linear-gradient(top,  #747474 0%,#646464 100%);
  background: -ms-linear-gradient(top,  #747474 0%,#646464 100%);
  background: linear-gradient(to bottom,  #747474 0%,#646464 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747474', endColorstr='#646464',GradientType=0 );
}

.icon-eye {
  content: "\e006"; // flaticon-eye46
}

.icon-eye-slashed {
  content: "\e007"; // flaticon-eye48
}

.icon-arrow-down {
  content: "\e00a"; // flaticon-little9
}

.icon-arrow-right {
  content: "\e00c"; // flaticon-mini7
}